body {
	font-family: Poppins;
}
.hero {
	background-color: #6b2b8f; /* Purple background */
	color: white;
	padding: 80px 0;
	position: relative;
	overflow: hidden;
}

.hero::before {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 50%;
	background: white;
	clip-path: polygon(50% 100%, 100% 100%, 100% 0);
	z-index: 1;
}

.hero .headline {
	font-size: 55px;
	font-weight: bold;
	margin-bottom: 20px;
	position: relative;
	z-index: 2;
}

.highlight {
	color: #8ab3ff; /* Light blue for emphasis */
}

.hero .subtext {
	background-color: white;
	color: #6b2b8f;
	padding: 10px 20px;
	border-radius: 25px;
	font-weight: 500;
	display: inline-block;
	margin-top: 20px;
	position: relative;
	z-index: 2;
}

.hero img {
	max-width: 100%;
	border-radius: 5px;
	position: relative;
	z-index: 2;
}
.navigation {
	min-height: 120px;
	border-bottom: #6b2b8f solid 10px;
	margin-bottom: 6px;
}
li.nav-item {
	padding: 0 14px;
}
a.active {
	color: #6b2b8f;
	font-weight: bold;
	font-size: 16px;
}
